<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.ohld.file"
        version   = "0.1.2">

    <name>Lärarförmedlarna</name>


    <!--  <preference name="permissions"                value="none"/>  -->    
    <preference name="phonegap-version"           value="3.6.3" />          <!-- all: current version of PhoneGap -->

    <preference name="android-minSdkVersion"      value="10" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

	<preference name="permissions" value="none"/>

    <!-- to enable individual permissions use the following examples -->        
    <feature name="http://api.phonegap.com/1.0/network"/>


	<icon src="assets\new assets\img\DiamondIcon.png" platform="ios" width="57" height="57" density="mdpi" />
    
    
  
   
    <access origin="*" /> 

</widget>