body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #1f1f1f;
    color: #ffffcc;    
}

.highscore{
	float: right;
}

.centered{
	text-align: center;
}

canvas, .odo{
	margin: 0 auto;
    display: block;       
}

#hideShow {
	margin: 30px auto;
}

#

a {
    color: #ffffcc;
}

a:link {
    color: #ffffcc;
}

a:visited {
    color: #ffffcc;
}
@media (max-width: 800px) {
    canvas,.odo {
        width: 100%;
    }
}
@media (min-width: 801px) {
    canvas,.odo {
        width: 800px;
    }
}

#belowLevelEditor {
    position:fixed;
    left: 5px;
}

button {
    width: 200px;
    height: 25px;
    color: #ffc;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    outline: none
}

.mute-is-not-muted {
    vertical-align: bottom; 
    background: url("../assets/sprites/mute button.png") 0 0;
    height: 64;
    width: 54;
}

.mute-is-muted{
    background: url("../assets/sprites/mute button.png") -64px 0;
}

.mute{
	margin-top: 100px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.match-cursor {         
    cursor:url(../assets/img/match.gif), auto;
}

.talk-cursor {         
    cursor:url(../assets/img/talkCursor.gif), auto;
}

.house-cursor {         
    cursor:url(../assets/img/houseCursor.gif), auto;
}

.progress {
	float:left;
	background-color : #1f1f1f; 		
	width: 40%;
	height: 69px;
}
.counter {
	float:left;
}
.progress-bar {
		background-color: #99ccff;		
}

.background-red {
	background-color: #cc0000;
}

.odometer {
    font-size: 40px;
}

#experiment {
    min-height: 400px;
}

.cube {
    position: relative;
    left: 35%;
    top: 200px;
}

.cube p {
    line-height: 14px;
    font-size: 12px;
}

.cube h2 {
    font-weight: bold;
}

.rightFace,
.leftFace,
.topFace div {    
    width: 180px;
    height: 180px;
}

.rightFace,
.leftFace,
.topFace {
    position: absolute;	
}

.leftFace {
    -webkit-transform: skew(0deg, 30deg);
    -moz-transform: skew(0deg, 30deg);
    -o-transform: skew(0deg, 30deg);
    -ms-transform: skew(0deg, 30deg);
    transform: skew(0deg, 30deg);    
}

.leftFace, .rightFace, .topFace>div{
	border: 1px dashed #000;
}

.leftFace:hover {
	background-color: #cc0000;	
	border-color: #ffffcc;
}

.rightFace:hover {
	background-color: #006666;
	border-color: #ffffcc;
}

.topFace>div:hover {
	background-color: #330033;
	border-color: #ffffcc;
}

.rightFace {
    -webkit-transform: skew(0deg, -30deg);
    -moz-transform: skew(0deg, -30deg);
    -o-transform: skew(0deg, -30deg);
    -ms-transform: skew(0deg, -30deg);
    transform: skew(0deg, -30deg);    
    left: 180px;
}

.topFace div {
    -webkit-transform: skew(0deg, -30deg) scale(1, 1.16);
    -moz-transform: skew(0deg, -30deg) scale(1, 1.16);
    -o-transform: skew(0deg, -30deg) scale(1, 1.16);
    -ms-transform: skew(0deg, -30deg) scale(1, 1.16);
    transform: skew(0deg, -30deg) scale(1, 1.16);    
    font-size: 0.862em;
}

.topFace {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -141px;
    left: 90px;
}

