body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #1f1f1f;
    color: #ffffcc;    
}

#mahCanvas, #hideShow{
    display: block;
    margin: 0 auto;    
}

#aboutOuter{
    text-align: center;
}

a:link {
    color: #ffffcc;
}

a:visited {
    color: #ffffcc;
}
@media (max-width: 800px) {
    canvas {
        width: 100%;
    }
}
@media (min-width: 801px) {
    canvas {
        width: 800px;
    }
}

#hideshow {
    width: 200px;
    height: 25px;
    color: #ffc;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    outline: none
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.match-cursor {         
    cursor:url(assets/match.gif), auto;
}

.talk-cursor {         
    cursor:url(assets/talkCursor.gif), auto;
}