body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #1f1f1f;
    color: #ffffcc;    
}

canvas, #hideShow, .progress, .odo{
    display: block;
    margin: 0 auto;    
}

#aboutOuter, .progress, .odo{
    text-align: center;
}

a:link {
    color: #ffffcc;
}

a:visited {
    color: #ffffcc;
}
@media (max-width: 800px) {
    canvas, .progress {
        width: 100%;
    }
}
@media (min-width: 801px) {
    canvas , .progress{
        width: 800px;
    }
}

#belowLevelEditor {
    position:fixed;
    left: 5px;
}

button {
    width: 200px;
    height: 25px;
    color: #ffc;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    outline: none
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.match-cursor {         
    cursor:url(assets/match.gif), auto;
}

.talk-cursor {         
    cursor:url(assets/talkCursor.gif), auto;
}

.house-cursor {         
    cursor:url(assets/houseCursor.gif), auto;
}

.progress {
	background-color : #1f1f1f; 		
}
.progress-bar {
		background-color: #99ccff;		
}

.background-red {
	background-color: #cc0000;
}

.odometer {
    font-size: 40px;
}